# THIS IS AN EXAMPLE FILE. 
# Create a file named .env.local and copy these variables there with your real keys.

VITE_API_BASE_URL=http://127.0.0.1:8003
VITE_WEATHER_API_KEY=your_open_weather_key_here

# Firebase Config (Copy from Firebase Console)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
